.exhibitionSpace {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  min-height: 100vh;
  overflow: hidden; /* New */
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.leftColumn,
.centerColumn,
.rightColumn {
  display: flex;
}

.leftColumn {
  width: 20%;
  align-items: center;
  justify-content: left;
  align-items: center;
}

.centerColumn {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0; /* Remove any existing margin */
  padding: 0; /* Remove any existing padding */
}

.centerColumn strong {
  margin-right: 5px; /* Add a small margin between the strong tag and the text */
}

.centerColumn p {
  margin: 0;
  padding: 0;
}

.rightColumn {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.navButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 5px 0px;
  font-family: 'EB Garamond', serif;
}

.navButton:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 5px 0px;
  font-family: 'EB Garamond', serif;
  text-decoration: underline;
}

.idButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 0px;
  font-family: 'EB Garamond', serif;
}

.idButton:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 0px;
  font-family: 'EB Garamond', serif;
  text-decoration: underline;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.merged::before,
.merged::after {
  display: none;
}

.linkButton {
  color: #000; /* Black color */
  cursor: pointer; /* Add the pointer cursor */
}

.linkButton:hover {
  text-decoration: underline; /* Add underline */
}

.enlarged .gallery {
  background: none;
}

.enlarged .diptychSVG {
  /* Increase the size of the diptych SVGs as desired */
  width: 80%;
  height: 80%;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.galleryBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease; /* Smooth transition for background changes */
}
