.dropdownSelector {
    background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
  font-family: 'EB Garamond', serif;
  width: 150px; /* adjust as necessary */
  height: 40px; /* adjust as necessary */
  padding: 5px 5px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  }
  