button {
    background-color: transparent;
    border: 1px solid #000;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  font-family: 'EB Garamond', serif;
  width: 150px; /* adjust as necessary */
  height: 40px; /* adjust as necessary */
  text-align: center;
  }
  