/* my-gallery/src/Diptychs/DiptychCarousel.css */

/* Custom styles for the arrows */
.custom-slick-arrow {
  width: 40px; /* Width of the arrow */
  height: auto; /* Height of the arrow */
  cursor: pointer; /* Cursor changes to pointer on hover */
  position: absolute; /* Absolute positioning */
  top: 50%; /* Vertically center the arrow */
  transform: translateY(-50%); /* Adjust for centering */
  z-index: 2; /* Ensure the arrow is above other elements */
  padding: 10px; /* Padding around the arrow */
}

/* Custom styles for left arrow */
.custom-slick-prev {
  left: -25px; /* Position the left arrow */
}

/* Custom styles for right arrow */
.custom-slick-next {
  right: -25px; /* Position the right arrow */
}

.swiper-slide img {
  display: block; /* Display as block element */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the entire container */
}

.diptych-slide {
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: flex-start; /* Align content at the start vertically */
  height: 100%; /* Full height */
}

.diptych-slide canvas {
  max-width: 100%; /* Max width of the canvas */
  max-height: 100%; /* Max height of the canvas */
  object-fit: contain; /* Contain within the container */
}

.canvas-wrapper {
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  position: absolute; /* Absolute positioning */
}

.canvas-wrapper canvas {
  max-width: 100%; /* Max width of the canvas */
  max-height: 100%; /* Max height of the canvas */
  object-fit: contain; /* Contain within the container */
}

.dynamic-component-wrapper {
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
}
